@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);
* {
  font-family: "Source Sans Pro", Arial, sans-serif; }

h1 {
  font-size: 48px; }
  h1 small {
    text-transform: uppercase;
    font-style: bold;
    font-size: 20px;
    margin-bottom: 40px; }

h2 {
  font-size: 30px;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 700; }

h3 {
  font-size: 24px;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: "Source Sans Pro", Arial, sans-serif; }

h5 {
  font-size: 21px;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase; }

p, li {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6; }
  p.lead, li.lead {
    font-weight: 300; }

a, a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none; }

.btn, .btn:focus, .btn:hover, .btn:active {
  outline: none; }

.spotlight {
  background-color: #f1f2f2;
  position: absolute;
  padding: 5px 200px 15px 20px;
  top: 325px; }

.video {
  background-color: #333;
  height: 460px;
  margin-bottom: 50px; }

a.view-more {
  text-align: center;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: block;
  text-decoration: underline;
  margin-top: 15px; }

body {
  background-color: #f1f2f2; }

main {
  padding: 80px 0; }
  main.page-404, main.homepage-main {
    padding-bottom: 0; }

img {
  max-width: 100%;
  height: auto; }

img + figcaption {
  font-style: italic;
  color: #808080;
  margin-top: 6px;
  text-align: right; }

.page-header {
  border-bottom: 1px solid transparent;
  margin: 0 0 30px;
  position: relative; }
  .page-header h1 {
    font-size: 42px;
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    position: initial;
    margin: 12px 0 0;
    line-height: 1.3;
    max-width: 90%; }
    @media screen and (max-width: 767px) {
      .page-header h1 {
        font-size: 36px; } }
  .page-header h5 {
    color: #035A96;
    font-size: 18px;
    margin: 0; }
  .page-header h4 {
    font-weight: 300;
    color: #808080;
    margin: 10px 0 0; }
    @media screen and (max-width: 767px) {
      .page-header h4 {
        font-size: 18px; } }

.hero {
  background-color: #f1f2f2;
  background-size: cover; }
  .hero h1 {
    width: 100%;
    z-index: 10; }

.tooltip {
  max-width: 120px;
  padding: 8px 12px; }

#support .modal-dialog {
  border: 6px solid rgba(0, 0, 0, 0.25);
  margin-top: 75px; }
  @media screen and (max-width: 767px) {
    #support .modal-dialog {
      margin-top: 25px; } }
#support .modal-content {
  border-radius: 0; }
#support .modal-footer {
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 15px 25px;
  text-align: center; }
  #support .modal-footer .btn-primary {
    color: #035A96;
    background-color: #fff;
    border: 2px solid #035A96;
    padding: 14px 20px;
    font-size: 18px; }
    #support .modal-footer .btn-primary:hover {
      color: #fff;
      background-color: #035A96; }
#support .modal-body {
  font-size: 20px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 25px; }
  #support .modal-body label {
    display: block;
    font-size: 14px; }
  #support .modal-body .form-group {
    margin-top: 15px; }
  #support .modal-body .bootstrap-select {
    width: 100%; }
#support .modal-header {
  padding: 15px 25px; }
#support .close {
  margin-top: -8px;
  padding: 8px 12px;
  margin-right: -14px;
  font-size: 30px; }

header {
  background-color: #ffffff;
  max-height: 100px; }
  @media screen and (max-width: 767px) {
    header {
      max-height: 70px; } }
  header .navbar {
    background: none;
    border: none;
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    padding: 0; }
    header .navbar .navbar-toggle {
      border-color: transparent; }
      @media screen and (max-width: 767px) {
        header .navbar .navbar-toggle {
          padding: 22px 5px;
          margin: 0;
          height: 70px; } }
      header .navbar .navbar-toggle > .icon-bar {
        background-color: #035a96;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%; }
      header .navbar .navbar-toggle.collapsed > .icon-bar {
        background-color: #dedede; }
    header .navbar .navbar-brand {
      position: relative;
      top: -34px;
      transition: all 0.5s;
      height: 70px; }
      header .navbar .navbar-brand:hover {
        opacity: 0.65; }
      @media screen and (max-width: 767px) {
        header .navbar .navbar-brand {
          top: -4px;
          left: -30px; }
          header .navbar .navbar-brand svg {
            height: 50px; } }
    @media screen and (max-width: 767px) {
      header .navbar .navbar-collapse {
        left: 0;
        position: absolute;
        right: 0;
        padding: 0;
        margin: 0 -15px;
        z-index: 20; } }
    header .navbar .navbar-nav .open > a,
    header .navbar .navbar-nav .open > a:hover,
    header .navbar .navbar-nav .open > a:focus {
      background-color: transparent; }
    @media screen and (max-width: 767px) {
      header .navbar .navbar-nav {
        text-align: center;
        margin: -1px 0 0; } }
    @media screen and (max-width: 767px) {
      header .navbar .navbar-nav li {
        border-bottom: 1px solid #f1f2f2;
        background-color: #fff;
        z-index: 12; } }
    header .navbar .navbar-nav li > a {
      color: black;
      font-family: "Merriweather", Georgia, serif;
      position: relative;
      transition: all 0.5s;
      font-size: 14px; }
      header .navbar .navbar-nav li > a:after {
        content: "";
        border-bottom: 2px solid transparent;
        position: absolute;
        width: 40px;
        left: 50%;
        margin-left: -20px;
        bottom: 7px;
        transition: all 0.5s; }
        @media screen and (max-width: 767px) {
          header .navbar .navbar-nav li > a:after {
            display: none; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        header .navbar .navbar-nav li > a {
          font-size: 13px;
          padding-left: 12px;
          padding-right: 12px; } }
      @media screen and (max-width: 767px) {
        header .navbar .navbar-nav li > a {
          padding-top: 15px;
          padding-bottom: 15px; } }
      header .navbar .navbar-nav li > a:hover {
        color: #035A96;
        position: relative; }
        header .navbar .navbar-nav li > a:hover:after {
          border-bottom: 2px solid #035A96; }
    header .navbar .navbar-nav li.active a, header .navbar .navbar-nav li.active a:hover {
      background: transparent;
      color: #035A96; }
      header .navbar .navbar-nav li.active a:after, header .navbar .navbar-nav li.active a:hover:after {
        content: "";
        border-bottom: 2px solid #035A96;
        position: absolute;
        width: 40px;
        left: 50%;
        margin-left: -20px;
        bottom: 7px; }
        @media screen and (max-width: 767px) {
          header .navbar .navbar-nav li.active a:after, header .navbar .navbar-nav li.active a:hover:after {
            display: none; } }
    header .navbar .navbar-nav .visible-xs-block li {
      padding-bottom: 10px;
      padding-top: 5px; }
      header .navbar .navbar-nav .visible-xs-block li > a {
        font-family: "Source Sans Pro", Arial, sans-serif;
        font-weight: 400;
        color: #EB5846 !important; }
        header .navbar .navbar-nav .visible-xs-block li > a:hover {
          text-decoration: none;
          color: #C95846 !important; }
    header .navbar ul li ul li {
      text-transform: uppercase;
      font-family: "Source Sans Pro", Arial, sans-serif;
      border-bottom: 1px solid #f1f2f2; }
      @media screen and (max-width: 767px) {
        header .navbar ul li ul li {
          text-align: center;
          border-bottom: none !important;
          border-top: 1px solid #d7d9d9 !important;
          background: #f1f2f2 !important; } }
    header .navbar ul.dropdown-menu {
      padding: 0;
      border: none;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); }
      header .navbar ul.dropdown-menu li a {
        text-align: center;
        padding: 14px 28px;
        font-family: "Source Sans Pro", Arial, sans-serif; }
        header .navbar ul.dropdown-menu li a:hover {
          background: none;
          position: relative; }
          header .navbar ul.dropdown-menu li a:hover:after {
            content: none; }
        @media screen and (max-width: 767px) {
          header .navbar ul.dropdown-menu li a {
            padding: 15px 15px 15px 25px !important; } }
      header .navbar ul.dropdown-menu li.active a:after, header .navbar ul.dropdown-menu li.active a:hover:after {
        content: none; }
  header .above-nav {
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 4px; }
    header .above-nav a {
      color: #b3b3b3;
      font-weight: 500;
      transition: all 0.25s; }
      header .above-nav a > .fa {
        margin-right: 6px; }
      header .above-nav a:hover {
        color: #EB5846;
        text-decoration: none; }
    header .above-nav .twitter {
      display: inline; }
      header .above-nav .twitter a:hover {
        color: #55acee; }
    header .above-nav .supporter {
      display: inline;
      margin-left: 20px; }
      header .above-nav .supporter a {
        color: #EB5846; }
        header .above-nav .supporter a:hover {
          color: #e52f19; }
  header .fa-angle-down {
    float: right; }
  @media screen and (max-width: 767px) {
    header button {
      color: transparent !important;
      background-color: transparent !important;
      background-image: transparent !important; }
      header button:hover {
        color: transparent !important;
        background-color: transparent !important;
        background-image: transparent !important; } }

footer {
  background-color: #a4b8c4;
  color: #ffffff;
  padding: 50px 0; }
  footer a {
    color: white;
    opacity: 1;
    transition: all 0.25s; }
    footer a:hover {
      color: white;
      opacity: 0.65; }
  footer h4 {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 10px; }
  footer p {
    font-family: "Merriweather", Georgia, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6; }
  footer small {
    font-size: 12px;
    font-weight: 300; }
    footer small a {
      margin-left: 10px;
      padding-left: 10px;
      font-weight: 500;
      text-decoration: underline;
      border-left: 2px solid rgba(255, 255, 255, 0.35); }
      footer small a:hover {
        text-decoration: underline; }
  footer .brand {
    max-width: 220px;
    display: block;
    margin-bottom: 10px; }
    footer .brand svg {
      width: 100%; }
  footer .input-group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    max-width: 420px; }
    footer .input-group .form-control,
    footer .input-group .btn.btn-default {
      border: 1px solid transparent;
      height: 48px; }
    footer .input-group .form-control {
      width: 100%;
      border-radius: 6px !important;
      border: 1px solid #adbfc8;
      background: #DBE3E7;
      transition: all 0.5s;
      font-size: 18px;
      font-weight: 300;
      padding: 2px 16px 4px; }
      footer .input-group .form-control:focus {
        background: white; }
    footer .input-group .btn.btn-default {
      background: transparent;
      position: absolute;
      top: 2px;
      right: 5px;
      z-index: 2; }
      footer .input-group .btn.btn-default svg {
        width: 40px; }
      footer .input-group .btn.btn-default:hover svg line,
      footer .input-group .btn.btn-default:hover svg polyline {
        stroke: #035A96; }
  footer .list-inline {
    font-size: 18px;
    font-weight: 300; }
    footer .list-inline a {
      padding: 0 8px; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        footer .list-inline a {
          font-size: 16px; } }
      footer .list-inline a:first-of-type {
        padding-left: 0; }
  footer .divider {
    padding: 25px 15px 0px 15px;
    margin-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.profile blockquote {
  background-color: transparent;
  border-left: none;
  text-align: center;
  margin-bottom: 30px; }
  .profile blockquote p {
    font-size: 18px;
    font-weight: 300;
    font-family: "Merriweather", Georgia, serif;
    line-height: 1.5em; }
  .profile blockquote footer {
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    text-decoration: none; }
.profile p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin: 20px 0; }
.profile figure {
  margin-bottom: 20px; }
.profile aside {
  background-color: white;
  padding: 30px 30px 0; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .profile aside {
      padding: 25px 25px 0; } }
  @media screen and (max-width: 767px) {
    .profile aside {
      margin-top: 30px; } }
  .profile aside a:not(.btn):not(.icon-container) {
    font-size: 16px;
    font-weight: 700;
    color: #035A96;
    text-decoration: underline;
    display: block;
    line-height: 1.4;
    word-break: break-word; }
    .profile aside a:not(.btn):not(.icon-container):hover {
      color: #023c64; }
  .profile aside h3 {
    font-size: 16px;
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    margin: 0 0 12px;
    color: #808080; }
    @media screen and (max-width: 767px) {
      .profile aside h3 {
        font-size: 18px; } }
  .profile aside p {
    font-size: 16px;
    font-weight: 600;
    color: #035A96; }
  .profile aside ul {
    margin: 0 0 0 18px;
    padding: 0; }
    .profile aside ul > li {
      padding-left: 6px;
      line-height: 1.6; }
  .profile aside .sidebar-section {
    border-bottom: 1px solid #f1f2f2;
    margin: 0 -30px;
    padding: 30px; }
    .profile aside .sidebar-section:first-of-type {
      padding-top: 0; }
    .profile aside .sidebar-section:last-of-type {
      border: none; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .profile aside .sidebar-section {
        margin: 0 -25px;
        padding: 25px; } }
  .profile aside .video-img {
    position: relative; }
    .profile aside .video-img:hover .glyphicon {
      opacity: 1; }
    .profile aside .video-img:hover .overlay {
      background: rgba(0, 0, 0, 0.35); }
    .profile aside .video-img .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
      transition: all 0.5s; }
    .profile aside .video-img .glyphicon {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      font-size: 42px;
      text-align: center;
      width: 100%;
      color: white;
      opacity: 0.5;
      transition: all 0.5s; }
  .profile aside .icon {
    float: none; }
  .profile aside .btn {
    color: #EB5846;
    border: 2px solid #EB5846;
    background: transparent;
    width: 100%;
    font-size: 16px;
    padding: 15px 0 17px;
    transition: all 0.5s; }
    .profile aside .btn > .fa {
      margin-right: 6px;
      margin-top: 1px;
      font-size: 14px; }
    .profile aside .btn:hover {
      color: white;
      background-color: #EB5846; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .profile aside .btn {
        font-size: 16px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .profile aside .btn {
        font-size: 14px; } }
.profile .arrow {
  display: none;
  position: absolute;
  top: 32px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 999px;
  text-align: center;
  padding: 4px 5px 5px;
  color: #c9cdcd;
  border: 2px solid transparent;
  transition: all 0.5s; }
  @media screen and (min-width: 1200px) {
    .profile .arrow {
      display: block; } }
  .profile .arrow:hover {
    border: 2px solid #035A96;
    color: #035A96; }
    .profile .arrow:hover .overlay {
      display: block; }
  .profile .arrow.left-arrow {
    left: -60px;
    padding-left: 2px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .profile .arrow.left-arrow {
        left: -10px;
        top: -52px; } }
    .profile .arrow.left-arrow .overlay {
      left: 55px;
      text-align: left; }
  .profile .arrow.right-arrow {
    right: -60px;
    padding-right: 2px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .profile .arrow.right-arrow {
        right: -10px;
        top: -52px; } }
    .profile .arrow.right-arrow .overlay {
      right: 55px;
      text-align: right; }
  .profile .arrow .overlay {
    display: none;
    position: absolute;
    top: -35px;
    width: 340px;
    height: 100px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
    .profile .arrow .overlay h4 {
      margin: 0 0 8px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .profile .arrow .overlay p {
      font-size: 12px;
      color: #333;
      margin: 0;
      line-height: 1.3; }
.profile .sponsor, .profile .partner {
  margin-bottom: 15px;
  display: block;
  text-align: center; }
  .profile .sponsor:last-of-type, .profile .partner:last-of-type {
    margin: 0; }
  .profile .sponsor img, .profile .partner img {
    max-height: 85px;
    max-width: 200px; }

.hero.homepage {
  overflow: hidden;
  margin-top: -80px;
  height: 650px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .hero.homepage {
      height: 550px; } }
  .hero.homepage:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 200px;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(24%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
    pointer-events: none; }
  .hero.homepage h1 {
    font-family: "Merriweather", Georgia, serif;
    color: white;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.35), 0 0 15px rgba(0, 0, 0, 0.15);
    line-height: 1.4;
    width: 85%; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .hero.homepage h1 {
        font-size: 42px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .hero.homepage h1 {
        font-size: 36px; } }
    @media screen and (max-width: 767px) {
      .hero.homepage h1 {
        font-size: 30px;
        text-align: center;
        width: 100%; } }
  .hero.homepage .scroll-down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    display: block;
    color: white;
    font-size: 27px;
    font-family: Arial;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -30px;
    padding-top: 7px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 999px;
    text-decoration: none;
    opacity: 0.75;
    transition: all 0.5s;
    z-index: 10; }
    .hero.homepage .scroll-down:hover {
      opacity: 1;
      bottom: 35px; }
  .hero.homepage .hero-mission-statement {
    position: absolute;
    width: 100%;
    z-index: 9;
    margin-top: 140px;
    pointer-events: none; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .hero.homepage .hero-mission-statement {
        margin-top: 120px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .hero.homepage .hero-mission-statement {
        margin-top: 100px; } }
    @media screen and (max-width: 767px) {
      .hero.homepage .hero-mission-statement {
        margin-top: 60px; } }
  @media screen and (max-width: 767px) {
    .hero.homepage .slideshow .slick-dots {
      display: none !important; } }
  .hero.homepage .slideshow .slick-track {
    height: 650px; }
  .hero.homepage .slideshow .slideshow-slide {
    position: relative;
    background-size: cover; }
  .hero.homepage .slideshow .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .hero.homepage .slideshow .overlay {
        background: rgba(0, 0, 0, 0.4); } }
  .hero.homepage .slideshow .slideshow-caption {
    position: absolute;
    bottom: 125px;
    min-height: 100px;
    background: rgba(0, 162, 88, 0.75);
    padding: 25px 75px 25px 25px;
    transition: all 0.5s;
    z-index: 9;
    max-width: 675px;
    display: block; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .hero.homepage .slideshow .slideshow-caption {
        bottom: 150px; } }
    @media screen and (max-width: 767px) {
      .hero.homepage .slideshow .slideshow-caption {
        display: none; } }
    .hero.homepage .slideshow .slideshow-caption:hover {
      background: rgba(0, 162, 88, 0.9); }
      .hero.homepage .slideshow .slideshow-caption:hover:after {
        opacity: 0.75; }
    .hero.homepage .slideshow .slideshow-caption:after {
      position: absolute;
      content: '\203A';
      top: 50%;
      height: 40px;
      margin-top: -30px;
      font-size: 40px;
      opacity: 0.5;
      right: 20px;
      color: white; }
    .hero.homepage .slideshow .slideshow-caption h3 {
      color: white;
      margin: 0 0 5px;
      font-size: 24px;
      font-weight: 300; }
    .hero.homepage .slideshow .slideshow-caption p {
      color: white;
      margin: 0;
      font-weight: 300;
      line-height: 1.2; }

.middle {
  background-color: white;
  height: 700px;
  position: relative; }
  .middle .nav.nav-pills {
    margin-top: 60px;
    margin-bottom: 25px;
    position: relative;
    z-index: 9;
    display: inline-block; }
    .middle .nav.nav-pills > li {
      margin: 0 6px; }
      .middle .nav.nav-pills > li > a {
        border-radius: 25px;
        padding: 7px 18px 9px;
        font-weight: 700;
        font-size: 16px;
        border: 2px solid #afb5b5;
        background: white;
        color: #afb5b5;
        transition: all 0.5s; }
        .middle .nav.nav-pills > li > a:hover {
          border: 2px solid #afb5b5;
          background: #afb5b5;
          color: white; }
      .middle .nav.nav-pills > li.active a, .middle .nav.nav-pills > li.active a:hover {
        border: 2px solid #035A96;
        color: #035A96;
        background: white; }
  .middle .tab-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 140px; }
  .middle #our-mayor blockquote {
    border-left: none;
    margin-left: -30px;
    padding: 40px;
    background-color: #035A96;
    height: 460px; }
    .middle #our-mayor blockquote p {
      font-family: "Merriweather", Georgia, serif;
      line-height: 1.8;
      color: white;
      margin-bottom: 20px; }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        .middle #our-mayor blockquote p {
          font-size: 16px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .middle #our-mayor blockquote p {
          font-size: 14px; } }
    .middle #our-mayor blockquote footer {
      padding: 0;
      margin: 0;
      text-align: right;
      color: rgba(255, 255, 255, 0.75);
      font-style: italic;
      background: none; }
  .middle #our-city {
    background: url("images/homepage_city@2x.jpg");
    background-size: cover; }
    @media screen and (max-width: 767px) {
      .middle #our-city {
        padding-left: 15px;
        padding-right: 15px; } }
    .middle #our-city h3 {
      line-height: 36px;
      font-weight: 300; }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        .middle #our-city h3 {
          font-size: 21px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .middle #our-city h3 {
          font-size: 18px; } }
      @media screen and (max-width: 767px) {
        .middle #our-city h3 {
          font-size: 18px;
          line-height: 1.6; } }
    .middle #our-city a {
      text-align: left; }

.priorities {
  padding-top: 100px;
  padding-bottom: 60px; }
  @media screen and (max-width: 767px) {
    .priorities {
      padding-top: 60px; } }
  .priorities p > a {
    font-weight: 700;
    text-decoration: underline; }
  .priorities .priority-block {
    min-height: 300px;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.5s;
    display: block; }
    @media screen and (max-width: 767px) {
      .priorities .priority-block:first-of-type {
        margin-top: 30px; } }
    .priorities .priority-block h3 {
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-weight: 400;
      font-size: 27px;
      top: 100px;
      position: absolute;
      left: 30px;
      right: 30px; }
      .priorities .priority-block h3 small {
        display: block;
        color: gray;
        margin: 15px 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4; }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          .priorities .priority-block h3 small {
            font-size: 16px; } }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        .priorities .priority-block h3 {
          font-size: 21px; } }
    .priorities .priority-block .icon {
      width: 60px;
      height: 60px;
      position: relative;
      margin: 0 auto 10px;
      z-index: 2;
      display: block;
      color: white;
      font-size: 27px;
      transition: all 0.25s;
      top: 0;
      text-align: center; }
      .priorities .priority-block .icon svg {
        transition: all 0.25s;
        width: 24px; }
    .priorities .priority-block:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
      .priorities .priority-block:hover .icon {
        width: 80px;
        height: 80px;
        top: -10px; }
      .priorities .priority-block:hover svg {
        width: 36px; }
    .priorities .priority-block:before {
      content: '';
      background: #f08274;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      opacity: 0.75; }
    .priorities .priority-block.education-health:before {
      background: #3DBFD9; }
    .priorities .priority-block.sustainability:before {
      background: #3DBD8D; }
    .priorities .priority-block.government:before {
      background: #083A5B; }
    .priorities .priority-block.place-of-choice:before {
      background: #666698; }
    .priorities .priority-block.public-safety:before {
      background: #EB5846; }
    .priorities .priority-block.education-health h3 {
      color: #3DBFD9; }
    .priorities .priority-block.sustainability h3 {
      color: #3DBD8D; }
    .priorities .priority-block.government h3 {
      color: #083A5B; }
    .priorities .priority-block.place-of-choice h3 {
      color: #666698; }
    .priorities .priority-block.public-safety h3 {
      color: #EB5846; }

.initiatives .filters {
  float: right; }
  .initiatives .filters .filter {
    color: #808080;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0; }
  .initiatives .filters .icon {
    opacity: 0.35;
    cursor: pointer;
    transition: all 0.25s;
    margin: 10px 2px;
    top: 0;
    position: relative; }
    .initiatives .filters .icon:hover {
      top: -3px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25); }
.initiatives .initiative-summary {
  height: 400px;
  background-color: white;
  display: block;
  margin-bottom: 30px;
  transition: all 0.5s;
  padding: 0 25px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .initiatives .initiative-summary {
      height: 385px; } }
  @media screen and (max-width: 767px) {
    .initiatives .initiative-summary {
      height: auto;
      padding-bottom: 10px; } }
  .initiatives .initiative-summary:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
  .initiatives .initiative-summary .image {
    z-index: 1;
    max-width: 555px;
    height: 225px;
    overflow: hidden;
    background: #808080;
    margin: 0 -25px;
    background-size: cover; }
    @media screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .initiatives .initiative-summary .image {
        height: 200px; } }
    .initiatives .initiative-summary .image img {
      width: 100%; }
  .initiatives .initiative-summary h3 {
    padding: 45px 0 10px;
    margin: 0;
    font-weight: 300;
    color: black; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .initiatives .initiative-summary h3 {
        font-size: 21px; } }
  .initiatives .initiative-summary p {
    padding: 0 0 25px;
    margin: 0;
    font-weight: 300;
    color: #333333; }
    @media screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .initiatives .initiative-summary p {
        font-size: 16px;
        line-height: 1.4; } }
  .initiatives .initiative-summary .icon {
    z-index: 2;
    margin-top: -22px;
    margin-left: 0;
    margin-right: 8px;
    float: left;
    position: relative; }
    .initiatives .initiative-summary .icon:first-of-type {
      margin-left: 25px; }
.initiatives .btn-default {
  color: #035A96;
  border: 2px solid #035A96;
  margin-bottom: 20px;
  margin-left: 25px; }
  .initiatives .btn-default:hover {
    color: #fff;
    background-color: #035A96; }
.initiatives .btn {
  margin: 30px 42%;
  padding: 12px 23px; }
  .initiatives .btn h4 {
    font-size: 18px;
    font-weight: 700; }

.page .hero {
  margin-bottom: 80px;
  margin-top: -80px;
  position: relative;
  height: 500px; }
  .page-404 .page .hero {
    margin-bottom: 0;
    height: 600px; }
    .page-404 .page .hero h1 {
      margin-top: 100px;
      font-size: 72px; }
    .page-404 .page .hero h3 {
      font-size: 21px; }
  .page .hero h1 {
    color: #fff;
    font-family: "Merriweather", Georgia, serif;
    font-size: 48px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.35); }
  .page .hero h5 {
    color: #ffffff;
    margin-top: 300px;
    font-size: 20px; }
.page .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2); }
.page h3 {
  margin: 25px 0 10px; }
.page h4 {
  margin: 25px 0 10px; }
.page .callout {
  background-color: #fff;
  text-align: center;
  padding: 30px; }
  .page .callout h5 {
    color: #00A258;
    font-size: 14px; }
    .page .callout h5:after {
      content: "";
      border-bottom: 2px solid #00A258;
      position: absolute;
      width: 40px;
      left: 50%;
      margin-left: -20px;
      top: 75px; }
  .page .callout p {
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px; }

.resources {
  margin-top: 20px;
  margin-bottom: 40px; }
  .resources .resource {
    width: 100%;
    border: none;
    background-color: #fff;
    margin: 0 0 20px;
    border-radius: 6px;
    display: block;
    padding: 25px 20px;
    transition: all 0.5s; }
    .resources .resource:hover {
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
      .resources .resource:hover .resource-type {
        color: #fff;
        background-color: #035A96; }
    .resources .resource h3 {
      display: inline-block;
      font-weight: 300;
      font-size: 21px;
      margin: 0;
      vertical-align: middle; }
    .resources .resource .resource-type {
      padding: 6px 12px;
      border-radius: 99px;
      color: #035A96;
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      border: 2px solid #035A96;
      vertical-align: middle;
      margin-right: 12px;
      top: -1px;
      position: relative;
      transition: all 0.5s; }
      @media screen and (max-width: 767px) {
        .resources .resource .resource-type {
          display: none; } }

.icon {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #035A96;
  text-align: center; }
  .icon.active {
    opacity: 1 !important; }
  .icon > svg {
    display: inline;
    vertical-align: middle;
    height: 100%; }
  .icon.education-health {
    background: #3DBFD9; }
  .icon.sustainability {
    background: #3DBD8D; }
  .icon.government {
    background: #083A5B; }
  .icon.place-of-choice {
    background: #666698; }
    .icon.place-of-choice svg {
      margin-top: -2px; }
  .icon.public-safety {
    background: #EB5846; }

.icon-container {
  color: #035A96;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  padding-left: 50px;
  clear: both;
  min-height: 44px;
  display: block; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .icon-container {
      font-size: 16px; } }
  .icon-container > .icon {
    float: left !important;
    margin-right: 16px;
    margin-left: -50px;
    margin-bottom: 20px; }
  .icon-container.education-health {
    color: #3DBFD9; }
  .icon-container.sustainability {
    color: #3DBD8D; }
  .icon-container.government {
    color: #083A5B; }
  .icon-container.place-of-choice {
    color: #666698; }
  .icon-container.public-safety {
    color: #EB5846; }

.get-involved .block {
  min-height: 365px;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 50px;
  position: relative;
  transition: all 0.5s; }
  .get-involved .block p {
    padding-bottom: 20px;
    margin: 0; }
  .get-involved .block h3 {
    font-weight: 300; }
  .get-involved .block .btn {
    border: 2px solid #035A96;
    background: none;
    color: #035A96;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 12px;
    transition: all 0.5s; }
    .get-involved .block .btn:hover {
      background: #035A96;
      color: white; }
  .get-involved .block .icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto 10px;
    z-index: 2;
    display: block;
    color: white;
    font-size: 27px; }
    .get-involved .block .icon .fa {
      margin-top: 15px; }
  .get-involved .block:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
  .get-involved .block:before {
    content: '';
    background: #f08274;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; }
  .get-involved .block.heart-o:before {
    background: #f08274; }
  .get-involved .block.heart-o .icon {
    background: #EB5846; }
  .get-involved .block.users:before {
    background: #00d574; }
  .get-involved .block.users .icon {
    background: #00A258; }
  .get-involved .block.gift:before {
    background: #68cde1; }
  .get-involved .block.gift .icon {
    background: #3DBFD9; }
.get-involved aside {
  margin-top: 15px;
  margin-bottom: 100px; }

.media h1 {
  font-size: 42px;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  position: initial; }
.media h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px; }
  .media h3 > .fa {
    font-size: 21px;
    margin-right: 8px;
    color: #55acee; }
.media .news-item {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 30px;
  transition: all 0.5s; }
  .media .news-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
  .media .news-item h5 {
    font-size: 14px;
    color: #9a9a9a;
    margin: 0 0 8px; }
  .media .news-item h4 {
    margin: 5px 0 15px; }
    .media .news-item h4 a {
      font-family: "Merriweather", Georgia, serif;
      color: #333; }
  .media .news-item p {
    margin: 0; }
    .media .news-item p a {
      margin-left: 10px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .media .news-item p {
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      .media .news-item p {
        font-size: 14px; } }
  .media .news-item img {
    margin: -30px -30px 10px 30px;
    max-width: 115px;
    float: right;
    max-height: 75px;
    padding: 15px;
    border-left: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2; }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .media #twitter-feed .tweet {
    font-size: 16px; } }
.media #twitter-feed + a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  text-align: center; }
.media #twitter-feed .tweet-wrapper {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px 20px 20px 24px;
  transition: all 0.5s;
  border-left: 6px solid #55acee; }
  .media #twitter-feed .tweet-wrapper:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }
.media .pagination {
  text-align: center;
  display: block;
  margin: 50px auto 0; }
  .media .pagination > li > a {
    margin: 0 8px;
    border-radius: 99px;
    padding: 12px 16px;
    border: 2px solid #035A96;
    background: transparent;
    color: #035A96;
    float: none;
    font-weight: 700;
    text-transform: uppercase; }
    .media .pagination > li > a:hover {
      background-color: #035A96;
      color: white; }
  .media .pagination > li.disabled > a {
    background-color: white;
    color: #B3B3B3; }

.single p {
  font-size: 18px;
  line-height: 30px; }
.single blockquote {
  padding: 30px;
  margin: 0;
  border: none;
  float: right;
  max-width: 600px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .single blockquote {
      max-width: 340px; } }
  @media screen and (max-width: 767px) {
    .single blockquote {
      max-width: 100%;
      float: none;
      padding: 30px 0; } }
  .single blockquote p {
    font-family: "Merriweather", Georgia, serif;
    font-style: italic;
    font-size: 30px;
    line-height: 42px;
    color: #00A258; }
.single .source {
  color: #808080;
  margin-bottom: 15px; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.5; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  top: 44%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  right: 16px;
  width: 40px; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 1;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.85); }

/*# sourceMappingURL=main.css.map */
