@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);
header {
  background-color: #ffffff; }
  header .navbar {
    background: none;
    border: none;
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300; }
    header .navbar .navbar-nav .open > a {
      background-color: transparent; }
    header .navbar .navbar-nav .open > a:hover {
      background-color: transparent; }
    header .navbar .navbar-nav .open > a:focus {
      background-color: transparent; }
    @media screen and (max-width: 768px) {
      header .navbar .navbar-nav {
        text-align: center; } }
    @media screen and (max-width: 768px) {
      header .navbar .navbar-nav li {
        margin: 15px;
        border-bottom: 1px solid #dedede; } }
    header .navbar .navbar-nav li > a {
      color: black; }
    header .navbar .navbar-nav li > a:hover {
      color: #035A96;
      position: relative; }
      header .navbar .navbar-nav li > a:hover:after {
        content: "";
        border-bottom: 2px solid #035A96;
        position: absolute;
        width: 40px;
        left: 50%;
        margin-left: -20px;
        bottom: 7px; }
        @media screen and (max-width: 768px) {
          header .navbar .navbar-nav li > a:hover:after {
            display: none; } }
    header .navbar ul li ul li {
      padding: 10px;
      text-transform: uppercase;
      font-family: "Source Sans", Arial, sans-serif;
      border-bottom: 1px solid #dedede; }
      @media screen and (max-width: 768px) {
        header .navbar ul li ul li {
          text-align: center; } }
    header .navbar ul.dropdown-menu {
      padding-bottom: 0; }
    header .navbar ul.dropdown-menu li a:hover {
      background: none;
      position: relative; }
    header .navbar ul.dropdown-menu li a:hover:after {
      content: "";
      border-bottom: 2px solid #035A96;
      position: absolute;
      width: 40px;
      left: 50%;
      margin-left: -20px;
      bottom: 0px; }
  header .aboveNav {
    float: right;
    margin-top: 20px; }
    header .aboveNav a {
      color: #b3b3b3; }
    header .aboveNav :hover {
      color: #EB5846;
      text-decoration: none; }
  header .twitter {
    display: inline;
    color: #b3b3b3; }
  header .supporter {
    color: #b3b3b3;
    display: inline;
    margin-right: 25px;
    margin-left: 20px;
    text-decoration: none; }
  header .fa-angle-down {
    float: right; }
  header .navbar .navbar-nav .visible-xs-block li {
    padding-bottom: 10px;
    padding-top: 5px; }
  header .navbar .navbar-nav .visible-xs-block li > a {
    font-family: "Source Sans", Arial, sans-serif;
    font-weight: 400;
    color: #EB5846 !important; }
    header .navbar .navbar-nav .visible-xs-block li > a:hover {
      text-decoration: none;
      color: #C95846 !important; }
  header .navbar-toggle .icon-bar {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%; }
  header .navbar-default .navbar-toggle {
    border-color: transparent; }
    header .navbar-default .navbar-toggle > .icon-bar {
      background-color: #035a96; }
    header .navbar-default .navbar-toggle.collapsed > .icon-bar {
      background-color: #dedede; }
  @media screen and (max-width: 768px) {
    header button {
      color: transparent !important;
      background-color: transparent !important;
      background-image: transparent !important; }
      header button:hover {
        color: transparent !important;
        background-color: transparent !important;
        background-image: transparent !important; } }

footer {
  background-color: #a4b8c4;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 35px; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #ffffff; }
  footer .input-group {
    padding-bottom: 25px;
    border-radius: 10px; }
  footer .footer-org-description {
    font-family: Merriweather, Georgia, serif;
    font-size: 14px;
    margin-right: 40px; }
  footer .list-inline {
    font-size: 18px;
    font-weight: 300; }
  footer small {
    font-size: 12px; }
  footer .divider {
    padding: 0 15px 0 15px; }
  footer .form-control, footer .btn.btn-default {
    border: 1px solid transparent; }
  footer .col-sm-6 {
    width: 75%; }
    @media screen and (max-width: 768px) {
      footer .col-sm-6 {
        width: 100%; } }
  footer .fa-long-arrow-right {
    width: 36px; }
  footer .footer-mobile-border {
    border-bottom: 1px solid #ffffff;
    margin: 40px -30px; }

.profile h5 {
  color: #035A96; }
.profile h1 {
  font-size: 42px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  position: initial; }
.profile h4 {
  font-weight: 300;
  color: #808080; }
.profile blockquote {
  background-color: #f2f2f2;
  border-left: none;
  text-align: center; }
  .profile blockquote p {
    font-size: 18px;
    font-weight: 300;
    font-family: Merriweather, Georgia, serif;
    line-height: 1.5em; }
  .profile blockquote footer {
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    text-decoration: none; }
.profile article {
  margin-bottom: 70px; }
.profile p {
  font-weight: 300;
  padding: 10px 140px 10px 0;
  margin-left: 20px; }
.profile img {
  width: 637px; }
.profile figcaption {
  display: block;
  float: right;
  margin-right: 15%;
  font-size: 12px; }
.profile figure {
  margin-bottom: 20px; }
.profile aside {
  background-color: #fff;
  padding-bottom: 30px; }
  .profile aside a {
    font-size: 14px;
    font-weight: 700;
    color: #035A96; }
  .profile aside p {
    font-size: 16px;
    font-weight: 600;
    color: #035A96; }
  .profile aside img {
    width: 85%;
    padding: 25px; }
.profile .arrow {
  position: absolute;
  top: 230px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 999px;
  text-align: center;
  padding: 5px;
  color: grey;
  border: 2px solid transparent; }
  .profile .arrow:hover {
    border: 2px solid #035A96;
    color: #035A96; }
.profile .left-arrow {
  left: 5%;
  padding-left: 0; }
.profile .right-arrow {
  right: 5%;
  padding-right: 0; }
.profile .profile-aside-border {
  border-bottom: 1px solid #f2f2f2;
  margin: 15px -30px 30px -30px; }
.profile .profile-aside-heading {
  font-size: 16px;
  font-family: Merriweather, Georgia, serif;
  color: #808080;
  padding-left: 25px; }
.profile .btn-default {
  color: #EB5846;
  border: 2px solid #EB5846;
  margin-bottom: 20px;
  margin-left: 25px; }
  .profile .btn-default:hover {
    color: #fff;
    background-color: #EB5846; }
.profile .btn {
  font-size: 18px;
  margin-left: 25px;
  margin-top: 10%;
  padding: 12px 23px; }

.initiatives h5 {
  color: #ff0000; }
.initiatives h1 {
  font-size: 42px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  position: initial;
  margin-bottom: 100px; }
.initiatives .filter {
  color: #808080;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 105px;
  margin-top: 40px;
  margin-bottom: 0; }
.initiatives .priority-area-placeholder {
  float: right;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #035A96;
  margin: 10px 5px;
  opacity: 0.35; }
  .initiatives .priority-area-placeholder.active {
    opacity: 1; }
.initiatives section {
  margin-bottom: 30px; }
.initiatives .initiative-summary {
  height: 400px;
  background-color: #ffffff;
  display: block; }
  .initiatives .initiative-summary img {
    z-index: 0;
    width: 555px;
    max-height: 250px; }
  .initiatives .initiative-summary h3 {
    padding-top: 25px;
    padding-left: 25px;
    font-weight: 300; }
  .initiatives .initiative-summary p {
    padding: 0px 25px 10px 25px;
    font-weight: 300; }
  .initiatives .initiative-summary .priority-area-placeholder {
    z-index: 1;
    position: absolute;
    margin-top: -20px;
    left: 30px; }
  .initiatives .initiative-summary .priority-area-placeholder:nth-of-type(2) {
    left: 90px; }
.initiatives .btn-default {
  color: #035A96;
  border: 2px solid #035A96;
  margin-bottom: 20px;
  margin-left: 25px; }
  .initiatives .btn-default:hover {
    color: #fff;
    background-color: #035A96; }
.initiatives .btn {
  margin: 30px 42%;
  padding: 12px 23px; }
  .initiatives .btn h4 {
    font-size: 18px;
    font-weight: 700; }

.about-page .hero {
  background-image: url("../images/love_statue.jpg");
  margin-bottom: 88px; }
  .about-page .hero h1 {
    color: #fff;
    font-family: Merriweather, Georgia, serif;
    font-size: 42px;
    text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
    top: 460px; }
  .about-page .hero h5 {
    position: absolute;
    top: 425px;
    color: #ffffff; }
.about-page h2 {
  font-weight: 400;
  font-size: 27px; }
.about-page article {
  margin-bottom: 70px; }
.about-page .mission p {
  margin: 0 105px 30px 0; }
.about-page .lead {
  font-weight: 400;
  margin-bottom: 40px; }
.about-page .history {
  background-color: #fff;
  text-align: center;
  padding: 32px 50px; }
  .about-page .history h5 {
    color: #00A258; }
    .about-page .history h5:after {
      content: "";
      border-bottom: 2px solid #00A258;
      position: absolute;
      width: 40px;
      left: 50%;
      margin-left: -20px;
      top: 75px; }
  .about-page .history p {
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px; }
.about-page .history-link {
  text-align: center;
  margin: 30px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700; }

.resources h5 {
  color: #035A96; }
.resources h1 {
  font-size: 42px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  position: initial; }
.resources section {
  margin-bottom: 70px; }
.resources .lead {
  font-weight: 400;
  margin-bottom: 40px;
  margin-right: 105px; }
.resources .resource-type {
  margin-left: 15px;
  margin-right: 15px;
  padding: 6px 12px;
  border-radius: 10px;
  color: #035A96;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase;
  border: 2px solid #035A96; }
.resources .btn {
  text-align: left; }
.resources .btn-default {
  width: 100%;
  border: 1px solid transparent;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 4px; }
  .resources .btn-default:hover {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); }
    .resources .btn-default:hover .resource-type {
      color: #fff;
      background-color: #035A96; }
  .resources .btn-default h3 {
    display: inline-block;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 20px; }

.involved h1 {
  font-size: 42px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  position: initial; }
.involved h4 {
  font-weight: 300;
  color: #808080; }
.involved .get-involved-block {
  min-height: 345px;
  background-color: #ffffff;
  padding: 40px 40px 40px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 6px solid #035A96; }
  .involved .get-involved-block p {
    padding-bottom: 20px; }
.involved .svg-placeholder {
  background-color: #035A96;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 25px; }
.involved h5 {
  text-transform: initial; }
.involved .tax-deductible-statement {
  font-weight: 700; }
.involved article {
  margin-bottom: 70px;
  margin-right: 60px; }
  .involved article h3 {
    margin-bottom: 20px; }
.involved aside {
  margin-top: 15px;
  margin-bottom: 100px; }
.involved .vcard {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif; }
.involved #myModalLabel {
  font-family: "Source Sans Pro", Arial, sans-serif; }

#myModal .modal-footer {
  font-family: "Source Sans Pro", Arial, sans-serif; }
  #myModal .modal-footer .btn-primary {
    color: #035A96;
    background-color: #fff;
    border: 2px solid #035A96; }
    #myModal .modal-footer .btn-primary:hover {
      color: #fff;
      background-color: #035A96; }
  #myModal .modal-footer .btn-default {
    color: #808080;
    background-color: #fff;
    border: 2px solid #808080; }
    #myModal .modal-footer .btn-default:hover {
      color: #fff;
      background-color: #808080; }

.modal-body {
  font-size: 20px;
  font-family: "Source Sans Pro", Arial, sans-serif; }
  .modal-body select {
    float: right;
    border-radius: 4px; }
  .modal-body .input-group .form-control {
    float: none; }

.medianews h1 {
  font-size: 42px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  position: initial; }
.medianews h3 {
  font-weight: 400; }
.medianews .svg-placeholder {
  display: inline-block;
  background-color: #035A96;
  width: 20px;
  height: 20px;
  border-radius: 50%; }
.medianews .news_item {
  background-color: #ffffff;
  margin: 20px;
  padding-bottom: 10px; }
  .medianews .news_item h5 {
    font-size: 16px;
    color: #808080;
    padding-top: 20px;
    margin: 0 0 5px 20px; }
  .medianews .news_item h4 {
    margin: 5px 0 0 20px; }
  .medianews .news_item p {
    margin: 20px; }
  .medianews .news_item a {
    margin-left: 5px; }
  .medianews .news_item img {
    margin: 0 0 10px 10px;
    width: 144px;
    float: right; }
.medianews .tweet-wrapper {
  background-color: #ffffff;
  margin: 10px;
  padding: 15px; }
.medianews .twitter_feed a {
  float: right;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px; }
.medianews .pagination {
  margin-bottom: 70px;
  margin-left: 25%; }
.medianews .pagination > li > a {
  margin-left: 5px;
  border: 1px solid transparent;
  color: #000000; }
  .medianews .pagination > li > a:hover {
    background-color: #B3B3B3;
    color: white; }
.medianews .pagination > .disabled > a {
  background-color: white;
  color: #B3B3B3; }

.news_article h5 {
  color: #035A96; }
.news_article h1 {
  font-size: 42px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  position: initial; }
.news_article h4 {
  font-weight: 300;
  color: #808080; }
.news_article img {
  width: 600px; }
.news_article figcaption {
  display: block;
  float: right;
  margin-right: 20%;
  font-size: 12px; }
.news_article figure {
  margin-bottom: 20px; }
.news_article article {
  margin-bottom: 70px; }
  .news_article article h4 {
    margin-top: 20px; }
  .news_article article .lead {
    margin-top: 60px; }
  .news_article article p {
    margin-right: 100px; }
.news_article .learn-more {
  background-color: #fff;
  text-align: center;
  padding: 32px 50px; }
  .news_article .learn-more h5 {
    color: #00A258; }
    .news_article .learn-more h5:after {
      content: "";
      border-bottom: 2px solid #00A258;
      position: absolute;
      width: 40px;
      left: 50%;
      margin-left: -20px;
      top: 75px; }
  .news_article .learn-more p {
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  background-color: #f2f2f2; }

h1 {
  font-size: 48px; }
  h1 small {
    text-transform: uppercase;
    font-style: bold;
    font-size: 20px;
    margin-bottom: 40px; }

h2 {
  font-size: 30px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 700; }

h3 {
  font-size: 24px;
  font-family: Merriweather, Georgia, serif;
  font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans Pro", Arial, sans-serif; }

h5 {
  font-size: 21px;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase; }

p {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px; }

.page-header {
  border-bottom: 1px solid transparent; }

.hero {
  background-color: #dddddd;
  height: 600px;
  padding-left: 75px; }
  .hero h1 {
    position: absolute;
    top: 175px;
    width: 80%; }

.spotlight {
  background-color: #e9e9e9;
  position: absolute;
  padding: 5px 200px 15px 20px;
  top: 325px; }

.video {
  background-color: #333;
  height: 460px;
  margin-bottom: 50px; }

.middle {
  background-color: #e1e1e1;
  margin-bottom: 100px; }
  .middle blockquote {
    border-left: none;
    margin-left: -30px;
    padding-top: 36px;
    background-color: #efefef;
    height: 460px; }
    .middle blockquote footer {
      background-color: #efefef;
      padding-top: 0px; }
  .middle .nav.nav-pills {
    margin-top: 50px;
    margin-bottom: 25px;
    display: inline-block; }
  .middle .nav-pills > li > a {
    border-radius: 25px; }
  .middle .nav > li > a {
    padding: 5px 20px;
    margin-right: 20px; }

.priorities {
  margin-top: 100px;
  margin-bottom: 100px; }
  .priorities .priorityBlock {
    height: 280px;
    padding: 36px 22px;
    background-color: #e1e1e1;
    margin-bottom: 25px;
    border-bottom: 6px solid black; }
  .priorities .priorityIcon {
    height: 50px;
    width: 50px; }

/*# sourceMappingURL=main.css.map */
