.spotlight {
	background-color: $lightgray;
	position: absolute;
	padding: 5px 200px 15px 20px;
	top: 325px;
}

.video {
	background-color: #333;
	height: 460px;
	margin-bottom: 50px;
}

a.view-more {
	text-align: center;
	font-family: $secondary-font;
	font-size: 16px;
	font-weight: 700;
    display: block;
    text-decoration: underline;
    margin-top: 15px;
}

