body {
	background-color: $lightgray;
}
main {
    padding: 80px 0;

    &.page-404, 
    &.homepage-main {
        padding-bottom: 0;
    }
}

img { max-width: 100%; height: auto; }
img + figcaption { font-style: italic; color: $grey; margin-top: 6px; text-align: right; }

.page-header {
	border-bottom: 1px solid transparent;
    margin: 0 0 30px;
    position: relative;

    h1 {
		font-size: 42px;
		font-family: $primary-font;
		font-weight: 300;
		position: initial;
		margin: 12px 0 0;
        line-height: 1.3;
        max-width: 90%;

        @media screen and #{$screen-xs} {
            font-size: 36px;
        }
	}
    h5 {
		color: $blue;
        font-size: 18px;
        margin: 0;
	}
    h4 {
		font-weight: 300;
		color: $grey;
        margin: 10px 0 0;

        @media screen and #{$screen-xs} {
            font-size: 18px;
        }
	}
}

.hero {
	background-color: $lightgray;
    background-size: cover;

	h1 {
		width: 100%;
        z-index: 10;
	}
}

.tooltip {
    max-width: 120px;
    padding: 8px 12px;
}

#support {
    .modal-dialog { 
        border: 6px solid rgba(0,0,0,0.25); 
        margin-top: 75px; 

        @media screen and #{$screen-xs} {
            margin-top: 25px;
        }
    }
    .modal-content { border-radius: 0; }
	.modal-footer {
		font-family: $secondary-font;
        padding: 15px 25px;
        text-align: center;

		.btn-primary {
			color: $blue;
			background-color: #fff;
			border: 2px solid $blue;
            padding: 14px 20px;
            font-size: 18px;

			&:hover {
				color: #fff;
				background-color: $blue; 
			}
		}
	}
    .modal-body {
    	font-size: 20px;
    	font-family: $secondary-font;
        padding: 25px;

    	label { display: block; font-size: 14px; }

        .form-group { margin-top: 15px; }
        .bootstrap-select { width: 100%; }
    }
    .modal-header {
        padding: 15px 25px;
    }
    .close {
        margin-top: -8px;
        padding: 8px 12px;
        margin-right: -14px;
        font-size: 30px;
    }
}
