@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700);

* { font-family: $secondary-font; }

h1 {
	font-size: 48px;

	small {
		text-transform: uppercase;
		font-style: bold;
		font-size: 20px;
		margin-bottom: 40px;
	}
}

h2 {
	font-size: 30px;
	font-family: $primary-font;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-family: $primary-font;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	font-weight: 300;
	font-family: $secondary-font;
}

h5 {
	font-size: 21px;
	font-weight: 700;
	font-family: $secondary-font;
	text-transform: uppercase;
}

p, li {
	font-family: $secondary-font;
	font-size: 18px;
    font-weight: 300;
    line-height: 1.6;

    &.lead {
        font-weight: 300;
    }
}

a, a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    word-wrap: break-word;
}
.btn, .btn:focus, .btn:hover, .btn:active {
    outline: none;
}
