header {
	background-color: $header_background;

	.navbar {
		background: none;
		border: none;
		font-family: "Merriweather", Georgia, serif;
		font-weight: 300;

		.navbar-nav {
			.open > a {
				background-color: transparent;
			}
			.open >a:hover {
				background-color: transparent;
			}
			.open >a:focus {
				background-color: transparent;
			}

			@media screen and (max-width: 768px) {
				text-align: center;
				border-bottom: 1px solid #dedede;

			}

			li > a {
				color: black;
			}
			li >a:hover {
				color: #035A96;
				position: relative;
				&:after {
					content: "";
					border-bottom: 2px solid #035A96;
					position: absolute;
					width: 40px;
					left: 50%;
					margin-left: -20px;
					bottom: 7px;
				}
			}

		}

		ul li ul li {
			padding: 10px;
			text-transform: uppercase;
			font-family: "Open Sans", Arial, sans-serif;
			border-bottom: 1px solid #dedede;

			@media screen and (max-width: 768px) {
				text-align: center;

			}
		}

		ul.dropdown-menu {
			padding-bottom: 0;
		}

		ul.dropdown-menu li a:hover{
			background: none;
			position: relative;
		} 

		ul.dropdown-menu li a:hover:after{
			content: "";
			border-bottom: 2px solid #035A96;
			position: absolute;
			width: 40px;
			left: 50%;
			margin-left: -20px;
			bottom: 0px;
		} 

	}

	.aboveNav {
		float: right;
		margin-top: 20px;
		a { 
			color: #b3b3b3;
		}
		:hover {
			color: #EB5846;
			text-decoration: none;
		}
	}

	.twitter {
		display: inline;
		color: #b3b3b3;
	}

	.supporter {
		color: #b3b3b3;
		display: inline;
		margin-right: 25px;
		margin-left: 20px;
		text-decoration: none;
	}


	.navbar-default .navbar-toggle .icon-bar {
		background-color: #035a96;
	}

	.navbar-toggle .icon-bar {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.navbar-default .navbar-toggle {
		border-color: transparent;
	}

}