header {
	background-color: $blue;

	.navbar {
		background: none;
		border: none;

		.navbar-nav {
			li > a {
				color: white;
			}
		}
	}

	.aboveNav {
		float: right;
		margin-top: 20px;
	}

	.twitter {
		display: inline;
		font-size: 10px;
	}

	.fa.fa-circle.fa-stack-2x {
		color: black;
	}

	.supporter {
		color: black;
		display: inline;
		margin-right: 25px;
		margin-left: 20px;
	}

}