
.profile {
	h1 {
		font-size: 48px;
		position: initial;
			small {
				text-transform: uppercase;
				font-style: bold;
				font-size: 20px;
				margin-bottom: 40px;
			}
	blockquote {
		background-color: none;
		border-left: none;
		footer {
			background-color: red;
		}
	}

	}

}