.page {
	.hero {
		margin-bottom: 80px;
        margin-top: -80px;

		h1 {
    		color: #fff;
    		font-family: $primary-font;
    		font-size: 48px;
    		text-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
		}

		h5 {
    		color: #ffffff;
            margin-top: 400px;
            font-size: 20px;
		}

	}

	.callout {
		background-color: #fff;
		text-align: center;
		padding: 30px;

		h5 {
			color: $accent-green;
            font-size: 14px;

			&:after {
				content: "";
				border-bottom: 2px solid $accent-green;
				position: absolute;
				width: 40px;
				left: 50%;
				margin-left: -20px;
				top: 75px;
			}
		}
		p {
			margin-top: 30px;
			font-weight: 300;
			font-size: 18px;
		}
	}
}