.hero.homepage {
    overflow: hidden;
    margin-top: -80px;
    height: 650px;
    position: relative;
    width: 100%;

    @media screen and #{$screen-xs} {
        height: 550px;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 200px;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(24%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
        background: -webkit-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: -o-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: -ms-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: linear-gradient(to bottom, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
        pointer-events: none;
    }

    h1 {
        font-family: $primary-font;
        color: white;
        text-shadow: 0 3px 0 rgba(0,0,0,0.35), 0 0 15px rgba(0,0,0,0.15);
        line-height: 1.4;
        width: 85%;

        @media screen and #{$screen-md} {
            font-size: 42px;
        }
        @media screen and #{$screen-sm} {
            font-size: 36px;
        }
        @media screen and #{$screen-xs} {
            font-size: 30px;
            text-align: center;
            width: 100%;
        }
    }
    
    .scroll-down {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        text-align: center;
        display: block;
        color: white;
        font-size: 27px;
        font-family: Arial;
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -30px;
        padding-top: 7px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        border-radius: 999px;
        text-decoration: none;
        opacity: 0.75;
        transition: $slow-trans;
        z-index: 10;

        &:hover {
            opacity: 1;
            bottom: 35px;
        }
    }
    .hero-mission-statement { 
        position: absolute; 
        width: 100%;
        z-index: 9;
        margin-top: 140px;
        pointer-events: none;

        @media screen and #{$screen-md} {
            margin-top: 120px;
        }
        @media screen and #{$screen-sm} {
            margin-top: 100px;
        }
        @media screen and #{$screen-xs} {
            margin-top: 60px;
        }
    }
    .slideshow {
        .slick-dots {
            @media screen and #{$screen-xs} {
                display: none !important;
            }
        }
        .slick-track { height: 650px; }
        .slideshow-slide {
            position: relative;
            background-size: cover;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.2);

            @media screen and #{$screen-sm} {
                background: rgba(0,0,0,0.4);
            }
        }
        .slideshow-caption {
            position: absolute;
            bottom: 125px;
            min-height: 100px;
            background: rgba($accent-green, 0.75);
            padding: 25px 75px 25px 25px;
            transition: $slow-trans;
            z-index: 9;
            max-width: 675px;
            display: block;

            @media screen and #{$screen-sm} {
                bottom: 150px;
            }
            @media screen and #{$screen-xs} {
                display: none;
            }

            &:hover {
                background: rgba($accent-green, 0.9);

                &:after { opacity: 0.75; }
            }
            &:after {
                position: absolute;
                content: '\203A';
                top: 50%;
                height: 40px;
                margin-top: -30px;
                font-size: 40px;
                opacity: 0.5;
                right: 20px;
                color: white;
            }

            h3 {
                color: white;
                margin: 0 0 5px;
                font-size: 24px;
                font-weight: 300;
            }
            p {
                color: white;
                margin: 0;
                font-weight: 300;
                line-height: 1.2;
            }
        }
    }
}

.middle {
	background-color: white;
    height: 700px;
    position: relative;

    .nav {
        &.nav-pills {
    		margin-top: 60px;
    		margin-bottom: 25px;
            position: relative;
            z-index: 9;
    		display: inline-block;
    
            > li { 
                margin: 0 6px;

                > a {
        		    border-radius: 25px;
                    padding: 7px 18px 9px;
                    font-weight: 700;
                    font-size: 16px;
                    border: 2px solid darken($lightgray, 25%);
                    background: white;
                    color: darken($lightgray, 25%);
                    transition: $slow-trans;

                    &:hover {
                        border: 2px solid darken($lightgray, 25%);
                        background: darken($lightgray, 25%);
                        color: white;
                    }
                }

                &.active a, &.active a:hover {
                    border: 2px solid $blue;
                    color: $blue;
                    background: white;
                }
        	}
        }
    }
    .tab-pane { 
        position: absolute; 
        top: 0;
        bottom: 0;
        width: 100%;
        padding-top: 140px;
    }

	#our-mayor {
        blockquote {
    		border-left: none;
    		margin-left: -30px;
    		padding: 40px;
    		background-color: $blue;
    		height: 460px;
    
            p {
                font-family: $primary-font;
                line-height: 1.8;
                color: white;
                margin-bottom: 20px;

                @media screen and #{$screen-md} {
                    font-size: 16px;
                }
                @media screen and #{$screen-sm} {
                    font-size: 14px;
                }
            }
    		footer {
                padding: 0;
                margin: 0;
                text-align: right;
                color: rgba(255,255,255,0.75);
                font-style: italic;
                background: none;
    		}
    	}
    }
    #our-city {
        background: url('images/homepage_city@2x.jpg');
        background-size: cover;

        @media screen and #{$screen-xs} {
            padding-left: 15px;
            padding-right: 15px;
        }

        h3 { 
            line-height: 36px; 
            font-weight: 300;

            @media screen and #{$screen-md} {
                font-size: 21px;
            }
            @media screen and #{$screen-sm} {
                font-size: 18px;
            }
            @media screen and #{$screen-xs} {
                font-size: 18px;
                line-height: 1.6;
            }
        }
        a { text-align: left; }
    }
}

.priorities {
	padding-top: 100px;
    padding-bottom: 60px;

    @media screen and #{$screen-xs} {
        padding-top: 60px;
    }

    p > a { font-weight: 700; text-decoration: underline; }

	.priority-block {
		min-height: 300px;
        background-color: #ffffff;
        padding: 30px;
        margin-bottom: 30px;
        position: relative;
        transition: $slow-trans;
        display: block;

        @media screen and #{$screen-xs} {
            &:first-of-type {
                margin-top: 30px;
            }
        }

        h3 {
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 27px;
            top: 100px;
            position: absolute;
            left: 30px;
            right: 30px;

            small {
                display: block;
                color: gray;
                margin: 15px 0;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.4;

                @media screen and #{$screen-md} {
                    font-size: 16px;
                }
            }

            @media screen and #{$screen-md} {
                font-size: 21px;
            }
        }

        .icon {
            width: 60px;
            height: 60px;
            position: relative;
            margin: 0 auto 10px;
            z-index: 2;
            display: block;
            color: white;
            font-size: 27px;
            transition: $fast-trans;
            top: 0;
            text-align: center;

            svg { transition: $fast-trans; width: 24px; }
        }

        &:hover {
            box-shadow: 0 0 15px rgba(0,0,0,0.15);

            .icon { width: 80px; height: 80px; top: -10px; }
                svg { width: 36px; }
        }
        &:before {
            content: '';
            background: lighten($tmf-safety, 10%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            opacity: 0.75;
        }

        &.education-health:before  { background: $tmf-education; }
        &.sustainability:before    { background: $tmf-environment; }
        &.government:before        { background: $tmf-government; }
        &.place-of-choice:before   { background: $tmf-place; }
        &.public-safety:before     { background: $tmf-safety; }

        &.education-health h3      { color: $tmf-education; }
        &.sustainability h3        { color: $tmf-environment; }
        &.government h3            { color: $tmf-government; }
        &.place-of-choice h3       { color: $tmf-place; }
        &.public-safety h3         { color: $tmf-safety; }
	}
}