.get-involved {
	.block {
        min-height: 345px;
        background-color: #ffffff;
        padding: 30px;
        margin-bottom: 50px;
        position: relative;
        transition: $slow-trans;

		p {
			padding-bottom: 20px;
            margin: 0;
		}
        h3 {
            font-weight: 300;
        }

        .btn {
            border: 2px solid $blue;
            background: none;
            color: $blue;
            font-weight: 700;
            font-size: 16px;
            padding: 10px 0 12px;
            transition: $slow-trans;

            &:hover {
                background: $blue;
                color: white;
            }
        }
        .icon {
            width: 60px;
            height: 60px;
            position: relative;
            margin: 0 auto 10px;
            z-index: 2;
            display: block;
            color: white;
            font-size: 27px;

            .fa { margin-top: 15px; }
        }

        &:hover {
            box-shadow: 0 0 15px rgba(0,0,0,0.15);
        }
        &:before {
            content: '';
            background: lighten($tmf-safety, 10%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
        }
        &.heart-o   { &:before { background: lighten($tmf-safety, 10%); } .icon { background: $tmf-safety; }}
        &.users     { &:before { background: lighten($accent-green, 10%); } .icon { background: $accent-green; }}
        &.gift      { &:before { background: lighten($tmf-education, 10%); } .icon { background: $tmf-education; }}
	}

	aside {
		margin-top: 15px;
		margin-bottom: 100px;
	}
}
