.resources {
    margin-top: 20px;
    margin-bottom: 40px;

	.resource {
        width: 100%;
        border: none;
        background-color: #fff;
        margin: 0 0 20px;
        border-radius: 6px;
        display: block;
        padding: 25px 20px;
        transition: $slow-trans;

		&:hover {
			background-color: #fff;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

			.resource-type {
				color: #fff;
				background-color: $blue;
			}
		}
		h3 {
            display: inline-block;
            font-weight: 300;
            font-size: 21px;
            margin: 0;
            vertical-align: middle;
    	}

        .resource-type {
            padding: 6px 12px;
            border-radius: 99px;
            color: $blue;
            font-family: $secondary-font;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid $blue;
            vertical-align: middle;
            margin-right: 12px;
            top: -1px;
            position: relative;
            transition: $slow-trans;

            @media screen and #{$screen-xs} {
                display: none;
            }
    	}
	}
}
